html {
    font-family: Roboto;
    color: #222;
    font-size: 110%;
    line-height: 1.4;
    background-color: white;
}
body {
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
}
img {
    width: 100%;
}
.presentation {

}
